---
/**
 * * FAQ section columns (not accordions)
 * Data is passed as props from Sanity block builder via BlockRenderer
 */
import { Icon } from "astro-icon/components";
import FaqCard from "./FaqCard.astro";
import { splitTitleWithIcon } from "@utils/textUtils.ts";
import type { GetPageBySlugQueryResult } from "../../../sanity.types";

type Blocks = NonNullable<NonNullable<GetPageBySlugQueryResult>["blocks"]>;
type Props = Extract<Blocks[number], { _type: "faqCards" }>;

const { title = "", faqs = [] } = Astro.props;

if (!title || !faqs.length) return;

const mid = Math.ceil(faqs.length / 2);
const faqCols = [faqs.slice(0, mid), faqs.slice(mid)];

const { leadingText, highlightedWord, trailingText, hasHighlightedWord } =
  splitTitleWithIcon(title);
---

<section id="faq2" class="site-container my-20 md:my-28 lg:my-36">
  <h2 class="h2 text-center">
    {leadingText}
    {
      hasHighlightedWord && (
        <span class="relative whitespace-nowrap">
          {highlightedWord}
          <span>
            <Icon
              name="stellar/freehand-zig-underline"
              class="text-primary-500 absolute top-2 left-0 -z-10 h-full w-full translate-y-1/2"
              aria-hidden="true"
            />
          </span>
        </span>
      )
    }
    {trailingText ?? null}
  </h2>
  <div class="mx-auto mt-14 grid gap-10 md:mt-16 md:grid-cols-2 lg:mt-20">
    {
      faqCols.map((faqCol) => (
        <div class="flex w-full flex-col gap-10">
          {faqCol.map(({ question, answer }) => (
            <FaqCard question={question ?? ""} answer={answer ?? ""} />
          ))}
        </div>
      ))
    }
  </div>
</section>
