---
/**
 * * FAQ section columns (not accordions)
 */
import { Icon } from "astro-icon/components";

// components
import FaqCard from "./FaqCard.astro";
import { getLocaleFromUrl } from "@/utils/localeUtils";
import { getTranslatedData } from "@/utils/translationUtils";
import { type FaqCartSectionData } from "@config/translations/configDataTypes.ts";

const currLocale = getLocaleFromUrl(Astro.url);
const data = getTranslatedData("faqSectionData", currLocale);

type Props = Partial<FaqCartSectionData>;

const { title = data.title, faqs = data.faqs } = Astro.props;

type FaqCols = FaqCartSectionData["faqs"];

// array of columns for faq data
const faqCols: FaqCols[] = [];
let faqsPerCol = Math.floor(faqs.length / 2);
let remainder = faqs.length % 2;

// this assumes more than 2 items for FAQ...
if (remainder === 0) {
  // even split
  faqCols[0] = faqs.slice(0, faqsPerCol);
  faqCols[1] = faqs.slice(faqsPerCol, 2 * faqsPerCol);
} else if (remainder === 1) {
  // extra goes to first column
  faqCols[0] = faqs.slice(0, faqsPerCol + 1);
  faqCols[1] = faqs.slice(faqsPerCol + 1, 2 * faqsPerCol + 1);
} else {
  console.error("Something went wrong with the FAQ data in Faq2.astro");
}
---

<section id="faq2" class="site-container my-24 md:my-36">
  <h2 class="h2 mt-8 text-center">
    <span class="relative whitespace-nowrap">
      FAQ
      <span>
        <Icon
          name="stellar/freehand-zig-underline"
          class="text-primary-500 absolute top-0 left-0 -z-10 h-full w-full translate-y-1/2"
          aria-hidden="true"
        />
      </span>
    </span>
  </h2>
  <div class="mx-auto mt-16 grid gap-10 md:grid-cols-2">
    {
      faqCols.map((faqCol) => (
        <div class="flex w-full flex-col gap-10">
          {faqCol.map(({ question, answer }, idx) => (
            <FaqCard question={question} answer={answer} />
          ))}
        </div>
      ))
    }
  </div>
</section>
