---
/**
 * * Alternating side cards with titles, text, and images
 */
import { Icon } from "astro-icon/components";
import { getLocaleFromUrl } from "@/utils/localeUtils";
import SanityCtaButton from "@components/SanityCtaButton/SanityCtaButton.astro";
import type { SanityCtaButtonObject } from "@components/SanityCtaButton/SanityCtaButton.astro";
import SanityImage from "@components/SanityImage/SanityImage.astro";
import type { SanityImageObject } from "@lib/sanityImage";

const currLocale = getLocaleFromUrl(Astro.url);
const aboutText = currLocale === "en" ? "about" : "over";

interface Props {
  title: string;
  description?: string;
  image?: SanityImageObject | null;
  ctaButton?: SanityCtaButtonObject;
  imageSide: "left" | "right";
  idx: number;
}

const { image, ctaButton, description, title, idx, imageSide } = Astro.props;
---

<div class="mx-auto grid gap-8 rounded-xl md:grid-cols-2 md:gap-12 lg:gap-20">
  <!-- text -->
  <div class={`${imageSide === "left" ? "md:order-last" : ""} col-span-1`}>
    <h2 class="h2 mt-6">{title}</h2>
    {description && <p class="mt-4 opacity-80">{description}</p>}
    <div class="z-20 mt-4 flex">
      <SanityCtaButton ctaButton={ctaButton} arrow="right" />
    </div>
  </div>

  <!-- image -->
  {
    image?.asset && (
      <div class="relative mx-auto max-w-4xl">
        <div class="absolute top-0 left-0 -z-10 h-full w-full">
          <Icon
            name={`stellar/blob-${idx % 4}`}
            class="text-primary-100 absolute top-0 left-0 h-auto w-[220%] -translate-x-1/4 -translate-y-[21%] md:-translate-x-1/3"
            aria-hidden="true"
          />
        </div>
        <SanityImage
          image={image}
          width={700}
          height={700}
          sizesType="half"
          loading="lazy"
          class="relative rounded-xl border border-transparent object-cover"
        />
      </div>
    )
  }
</div>
