---
import { Icon } from "astro-icon/components";
import { splitTitleWithIcon } from "@utils/textUtils.ts";

type Props = {
  title: string;
  introText: string;
};

const { title, introText } = Astro.props;

const { leadingText, highlightedWord, trailingText, hasHighlightedWord } =
  splitTitleWithIcon(title);
---

<section class="site-container mx-auto pt-36 md:pt-44">
  <h1 class="h1 text-center">
    {leadingText}
    {
      hasHighlightedWord && (
        <span class="relative whitespace-nowrap">
          {highlightedWord}
          <span>
            <Icon
              name="stellar/freehand-zig-underline"
              class="text-primary-300 absolute top-0 left-0 -z-10 h-full w-full translate-y-[60%] scale-y-75"
              aria-hidden="true"
            />
          </span>
        </span>
      )
    }
    {trailingText}
  </h1>
  <p class="description mx-auto mt-10 max-w-2xl text-center md:mt-20">
    {introText}
  </p>
</section>
