---
/**
 * * Intro section with large title and description
 * Data is passed as props from Sanity block builder via BlockRenderer
 */
import { Icon } from "astro-icon/components";
import { splitTitleWithIcon } from "@utils/textUtils.ts";
import type { GetPageBySlugQueryResult } from "../../../sanity.types";

type Blocks = NonNullable<NonNullable<GetPageBySlugQueryResult>["blocks"]>;
type Props = Extract<Blocks[number], { _type: "introSection" }>;

const { title = "", introText = "" } = Astro.props;

if (!title) return;

const { leadingText, highlightedWord, trailingText, hasHighlightedWord } =
  splitTitleWithIcon(title);
---

<section class="site-container mx-auto mt-20 mb-16 md:mt-24 md:mb-20 lg:mt-28 lg:mb-24">
  <h1 class="h1 text-center">
    {leadingText}
    {
      hasHighlightedWord && (
        <span class="relative whitespace-nowrap">
          {highlightedWord}
          <span>
            <Icon
              name="stellar/freehand-zig-underline"
              class="text-primary-300 absolute top-0 left-0 -z-10 h-full w-full translate-y-[60%] scale-y-75"
              aria-hidden="true"
            />
          </span>
        </span>
      )
    }
    {trailingText}
  </h1>
  {introText && <p class="description mx-auto mt-6 max-w-2xl text-center md:mt-14">{introText}</p>}
</section>
