---
/**
 * * CTA with title, text, button, and cards on the side
 * Data is passed as props from Sanity block builder via BlockRenderer
 */
import FeatureCard from "@components/FeatureCard/FeatureCardMedium.astro";
import SanityCtaButton from "@components/SanityCtaButton/SanityCtaButton.astro";
import { splitTitleWithIcon } from "@utils/textUtils.ts";
import type { GetPageBySlugQueryResult } from "../../../sanity.types";

type Blocks = NonNullable<NonNullable<GetPageBySlugQueryResult>["blocks"]>;
type Props = Extract<Blocks[number], { _type: "ctaCards" }>;

const { title = "", description, ctaButton, cards = [] } = Astro.props;

if (!title) return;

const { leadingText, highlightedWord, trailingText, hasHighlightedWord } =
  splitTitleWithIcon(title);
---

<section id="cta" class="bg-primary-100 py-16 md:py-24 lg:py-32">
  <div class="site-container relative grid gap-10 md:grid-cols-2">
    <div class="mx-auto flex max-w-lg flex-col">
      <h2 class="h1 leading-tight">
        {leadingText}
        {hasHighlightedWord && <span class="relative whitespace-nowrap">{highlightedWord}</span>}
        {trailingText ?? null}
      </h2>
      {description && <p class="description mt-6">{description}</p>}
      <div class="flex">
        <SanityCtaButton ctaButton={ctaButton} class="mt-6" arrow="right" />
      </div>
    </div>
    {
      cards.length > 0 && (
        <div class="mx-auto flex max-w-lg flex-col gap-8">
          {cards.map((card) => (
            <FeatureCard title={card.title ?? ""} text={card.text ?? ""} icon={card.icon ?? ""} />
          ))}
        </div>
      )
    }
  </div>
</section>
