---
/**
 * * CTA card with centered text and blobs
 * Data is passed as props from Sanity block builder via BlockRenderer
 */
import { Icon } from "astro-icon/components";
import SanityCtaButton from "@components/SanityCtaButton/SanityCtaButton.astro";
import { splitTitleWithIcon } from "@utils/textUtils.ts";
import type { GetPageBySlugQueryResult } from "../../../sanity.types";

type Blocks = NonNullable<NonNullable<GetPageBySlugQueryResult>["blocks"]>;
type Props = Extract<Blocks[number], { _type: "ctaCardCenter2" }>;

const { title = "", description, ctaButton } = Astro.props;

if (!title) return;

const { leadingText, highlightedWord, trailingText, hasHighlightedWord } =
  splitTitleWithIcon(title);
---

<section id="cta" class="my-20 md:my-32">
  <div class="site-container">
    <div class="bg-primary-100 relative isolate h-full w-full overflow-hidden rounded-xl">
      <!-- bottom left blob -->
      <Icon
        name="stellar/blob-1"
        class="text-primary-400/50 absolute bottom-0 left-0 aspect-square h-[100%] -translate-x-[20%] translate-y-[40%] rotate-12 md:h-[150%]"
        aria-hidden="true"
      />
      <!-- top right blob -->
      <Icon
        name="stellar/blob-3"
        class="text-primary-400/50 absolute top-0 right-0 aspect-square h-[100%] translate-x-[20%] -translate-y-[30%] md:h-[150%]"
        aria-hidden="true"
      />

      <div class="relative z-20 p-1">
        <div class="rounded-xl px-4 py-20 text-center">
          <div class="mx-auto max-w-2xl">
            <h2 class="h1">
              {leadingText}
              {
                hasHighlightedWord && (
                  <span class="relative whitespace-nowrap">
                    {highlightedWord}
                    <span>
                      <Icon
                        name="stellar/freehand-zig-underline"
                        class="text-primary-400 absolute top-0 left-0 -z-10 h-full w-full translate-y-1/2"
                        aria-hidden="true"
                      />
                    </span>
                  </span>
                )
              }
              {trailingText ?? null}
            </h2>
            {description && <p class="description mt-6">{description}</p>}
            <div class="mt-10 flex justify-center">
              <SanityCtaButton ctaButton={ctaButton} arrow="right" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
