---
/**
 * * Small feature cards with icons, titles, and text
 * Data is passed as props from Sanity block builder via BlockRenderer
 */
import { Icon } from "astro-icon/components";
import FeatureCard from "@components/FeatureCard/FeatureCardSmall.astro";
import { splitTitleWithIcon } from "@utils/textUtils.ts";
import type { GetPageBySlugQueryResult } from "../../../sanity.types";

type Blocks = NonNullable<NonNullable<GetPageBySlugQueryResult>["blocks"]>;
type Props = Extract<Blocks[number], { _type: "featureCardsSmall" }>;

const { title = "", features = [] } = Astro.props;

if (!title || !features.length) return;

const { leadingText, highlightedWord, trailingText, hasHighlightedWord } =
  splitTitleWithIcon(title);
---

<section id="feature-cards-small" class="my-20 md:my-32">
  <div class="site-container relative">
    <div class="mx-auto flex max-w-lg justify-center">
      <h2 class="h2 text-center">
        {leadingText}
        {
          hasHighlightedWord && (
            <span class="relative whitespace-nowrap">
              {highlightedWord}
              <Icon
                name="stellar/freehand-circle-multi-loop"
                class="text-primary-200 absolute inset-0 -z-1 w-full translate-y-1 scale-x-340 scale-y-150"
                aria-hidden="true"
              />
            </span>
          )
        }
        {trailingText ?? null}
      </h2>
    </div>
    <div id="trigger-small-cards" class="mt-12 grid gap-8 sm:grid-cols-2 md:mt-16 lg:grid-cols-3">
      {
        features.map((feature, idx) => (
          <FeatureCard
            title={feature.title ?? ""}
            text={feature.text ?? ""}
            icon={feature.icon ?? ""}
            data-mos="fade-up"
            data-mos-delay={0.15 * idx}
            data-mos-anchor="#trigger-small-cards"
          />
        ))
      }
    </div>
  </div>
</section>
