---
export const prerender = true;
import BaseLayout from "@layouts/BaseLayout.astro";
import Button from "@components/Button/Button.astro";
---

<BaseLayout title="404" description="Error 404 page not found." noindex={true}>
  <section class="site-container pt-24 md:pt-36">
    <div class="bg-base-200/50 w-full rounded-xl py-20 text-center md:py-32">
      <div class="mx-auto max-w-xl px-4 text-center">
        <h1 class="h1">Pagina niet gevonden!</h1>
        <p class="description mt-4">
          Oeps we kunnen de pagina die je zoekt niet vinden. Misschien is het verplaatst of bestaat
          het niet meer.
        </p>
        <div class="mt-8 flex justify-center">
          <Button variant="primary" href="/">Terug naar de homepagina</Button>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
