---
import BaseLayout from "@layouts/BaseLayout.astro";
import ContactFormSection from "@components/Contact/ContactFormSection.astro";
import ContactInformationBlock from "@components/Contact/ContactInformationBlock.astro";
---

<BaseLayout title="Contact Me" description="Get in touch! Contact information for Blogsmith.">
  <div class="site-container mx-auto pt-36 md:pt-44">
    <h1 class="h1 text-center">Neem contact op</h1>
    <p class="description mx-auto mt-6 max-w-2xl text-center">
      Heb je vragen, opmerkingen of feedback? Vul het onderstaande formulier in. We nemen zo snel
      mogelijk contact met u op.
    </p>
    <div class="mt-20 grid gap-8 lg:grid-cols-3">
      <!-- Contact info -->
      <div class="hidden flex-col lg:flex">
        <!-- gap to align with h2 of contact form -->
        <div class="h2 opacity-0">-</div>
        <ContactInformationBlock />
      </div>
      <!-- contact form -->
      <div class="lg:col-span-2">
        <ContactFormSection />
      </div>
    </div>
  </div>
</BaseLayout>
