---
export const prerender = true;
import BaseLayout from "@layouts/BaseLayout.astro";
import PostCardFull from "@components/PostCard/PostCardFull.astro";
import CategoryCloud from "@components/CategoryCloud/CategoryCloud.astro";
import { getAllCategories, getBlogPostsByCategory } from "@lib/groq/blogPost";
import type { GetAllCategoriesQueryResult } from "../../../sanity.types";

export async function getStaticPaths() {
  const categories = (await getAllCategories("nl")) as GetAllCategoriesQueryResult;

  return categories.map((cat) => ({
    params: { category: (cat.slug ?? "").replace(/^categorieen\//, "") },
    props: { cat },
  }));
}

const { cat } = Astro.props as { cat: GetAllCategoriesQueryResult[0] };
const posts = await getBlogPostsByCategory(cat.slug ?? "", "nl");
---

<BaseLayout
  type="general"
  title={cat.title ?? ""}
  description={cat.description ?? ""}
  alternatePaths={cat.alternatePaths}
>
  <section class="site-container pt-36 md:pt-44">
    <h1 class="h1 text-center">
      {cat.title}
    </h1>
    <div class="mt-6 flex justify-center">
      <CategoryCloud />
    </div>

    <div class="mt-20 grid gap-4 gap-y-12 md:mt-28">
      {posts.map((post) => <PostCardFull post={post} showDescription={true} />)}
    </div>
  </section>
</BaseLayout>
