---
import { useTranslation } from "@/utils/translationUtils";
import { Icon } from "astro-icon/components";

const { companyInfo, text } = useTranslation(Astro.url);
---

<div>
  <!-- contact info pulled from siteData.json -->
  <h3 class="mt-4 mb-2 text-lg font-medium">{text("contact_information")}</h3>

  <p>
    <span class="inline-flex items-center gap-1">
      <Icon name="tabler/compass" aria-hidden="true" class="h-4 w-4" />
      {companyInfo("street")}
    </span>
  </p>

  <p>
    <span class="inline-flex items-center gap-1">
      <Icon name="tabler/phone" aria-hidden="true" class="h-4 w-4" />
      <a
        href={`tel:${companyInfo("phone")}`}
        class="hover:text-primary-500 transition hover:underline"
      >
        {companyInfo("phone")}
      </a>
    </span>
  </p>

  <p>
    <span class="inline-flex items-center gap-1">
      <Icon name="tabler/mail" aria-hidden="true" class="h-4 w-4" />
      <a
        href={`mailto:${companyInfo("email")}`}
        class="hover:text-primary-500 transition hover:underline">{companyInfo("email")}</a
      >
    </span>
  </p>
</div>
