---
/**
 * * Awards section for social proof
 * Data is passed as props from Sanity block builder via BlockRenderer
 * Falls back to static award images when no Sanity data provided
 */
import { Image } from "astro:assets";
import SanityImage from "@components/SanityImage/SanityImage.astro";
import type { GetPageBySlugQueryResult } from "../../../sanity.types";

import award1 from "@images/awards/award-yelp.png";
import award2 from "@images/awards/award-homeadvisor.png";
import award3 from "@images/awards/award-angieslist.png";

type Blocks = NonNullable<NonNullable<GetPageBySlugQueryResult>["blocks"]>;
type Props = Extract<Blocks[number], { _type: "awardsSection" }>;

const { awards } = Astro.props;

const hasSanityAwards = awards && awards.length > 0 && awards.some((a) => a?.asset);
---

<section id="awards" class="my-10 w-full">
  <div class="site-container flex justify-center">
    <div class="flex flex-wrap gap-12 md:col-span-2">
      {
        hasSanityAwards ? (
          awards!
            .filter((a) => a?.asset)
            .map((award) => (
              <SanityImage
                image={award}
                width={200}
                height={80}
                sizesType="avatar"
                loading="lazy"
                class="h-20 w-auto"
              />
            ))
        ) : (
          <>
            <Image src={award1} alt="Yelp award" loading="lazy" height={200} class="h-20 w-auto" />
            <Image
              src={award2}
              alt="Home Advisor award"
              loading="lazy"
              height={200}
              class="h-20 w-auto"
            />
            <Image
              src={award3}
              alt="Angie's List award"
              loading="lazy"
              height={200}
              class="h-20 w-auto"
            />
          </>
        )
      }
    </div>
  </div>
</section>
