---
/**
 * BlockRenderer
 * Renders a blocks array from Sanity's block builder.
 * Each block has a _type matching an Astro section component name.
 */
import HeroBgImageSection from "@components/Hero/HeroBgImageSection.astro";
import HeroSideImageSection from "@components/Hero/HeroSideImageSection.astro";
import HeroCenteredSection from "@components/Hero/HeroCenteredSection.astro";
import FaqAccordionsSection from "@components/Faq/FaqAccordionsSection.astro";
import FaqCardsSection from "@components/Faq/FaqCardsSection.astro";
import CtaBgImageSection from "@components/Cta/CtaBgImageSection.astro";
import CtaCardCenterSection from "@components/Cta/CtaCardCenterSection.astro";
import CtaCardCenter2Section from "@components/Cta/CtaCardCenter2Section.astro";
import CtaCardsSection from "@components/Cta/CtaCardsSection.astro";
import FeatureCardsSmallSection from "@components/Feature/FeatureCardsSmallSection.astro";
import FeatureLightboxMarqueeSection from "@components/Feature/FeatureLightboxMarqueeSection.astro";
import FeatureGalleryMarqueeSection from "@components/Feature/FeatureGalleryMarqueeSection.astro";
import FeatureSideImageSection from "@components/Feature/FeatureSideImageSection.astro";
import FeatureToggleImageSection from "@components/Feature/FeatureToggleImageSection.astro";
import FeatureVideoSection from "@components/Feature/FeatureVideoSection.astro";
import ServicesIconSection from "@components/Services/ServicesIconSection.astro";
import ServicesSideImageSection from "@components/Services/ServicesSideImageSection.astro";
import TestimonialsColumnsSection from "@components/Testimonials/TestimonialsColumnsSection.astro";
import TestimonialsSwiperSection from "@components/Testimonials/TestimonialsSwiperSection.astro";
import TeamMemberCardsSection from "@components/Team/TeamMemberCardsSection.astro";
import IntroSection from "@components/Content/IntroSection.astro";
import AwardsSection from "@components/Awards/AwardsSection.astro";
import ContactSection from "@components/Contact/ContactSection.astro";
import HeadingWithImageSection from "@components/HeadingWithImage/HeadingWithImageSection.astro";
import RichTextBlock from "./RichTextBlock.astro";

interface Props {
  blocks: any[];
}

const { blocks } = Astro.props;
---

{
  blocks.map((block) => (
    <Fragment>
      {block._type === "heroBgImage" && <HeroBgImageSection {...block} />}
      {block._type === "heroSideImage" && <HeroSideImageSection {...block} />}
      {block._type === "heroCentered" && <HeroCenteredSection {...block} />}
      {block._type === "faqAccordions" && <FaqAccordionsSection {...block} />}
      {block._type === "faqAccordionsInline" && <FaqAccordionsSection {...block} />}
      {block._type === "faqCards" && <FaqCardsSection {...block} />}
      {block._type === "ctaBgImage" && <CtaBgImageSection {...block} />}
      {block._type === "ctaCardCenter" && <CtaCardCenterSection {...block} />}
      {block._type === "ctaCardCenter2" && <CtaCardCenter2Section {...block} />}
      {block._type === "ctaCards" && <CtaCardsSection {...block} />}
      {block._type === "featureCardsSmall" && <FeatureCardsSmallSection {...block} />}
      {block._type === "featureLightboxMarquee" && <FeatureLightboxMarqueeSection {...block} />}
      {block._type === "featureGalleryMarquee" && <FeatureGalleryMarqueeSection {...block} />}
      {block._type === "featureSideImage" && <FeatureSideImageSection {...block} />}
      {block._type === "featureToggleImage" && <FeatureToggleImageSection {...block} />}
      {block._type === "servicesIcon" && <ServicesIconSection {...block} />}
      {block._type === "servicesSideImage" && <ServicesSideImageSection {...block} />}
      {block._type === "awardsSection" && <AwardsSection {...block} />}
      {block._type === "introSection" && <IntroSection {...block} />}
      {block._type === "teamMemberCards" && <TeamMemberCardsSection {...block} />}
      {block._type === "testimonialsColumns" && <TestimonialsColumnsSection {...block} />}
      {block._type === "testimonialsSwiper" && <TestimonialsSwiperSection {...block} />}
      {block._type === "contactSection" && <ContactSection {...block} />}
      {block._type === "headingWithImage" && <HeadingWithImageSection {...block} />}
      {block._type === "featureVideo" && <FeatureVideoSection {...block} />}
      {block._type === "richText" && block.content?.length && (
        <div class="site-container my-16">
          <div class="markdown-content mx-auto max-w-3xl">
            <RichTextBlock value={block.content} />
          </div>
        </div>
      )}
    </Fragment>
  ))
}
